<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script type="text/javascript"src="/static/js/add.js"></script>
</head>

<form action="{% url 'add:model' %}" method="post">
{% csrf_token %}
    <fieldset class="module aligned ">
        <div class="form-row field-student_id">
            <div>
                <label class="required" for="id_student_id">Student id:</label>
                <input class="vIntegerField" id="id_student_id" name="student_id" type="text">
                </div>
        </div>
        <div class="form-row field-name">
                <div>
                        <label class="required" for="id_name">Name:</label>
                            <input class="vTextField" id="id_name" maxlength="200" name="name" type="text">
                </div>
        </div>

        <div class="form-row field-sex">
                <div class="checkbox-row">
                        <input checked="checked" id="id_sex" name="sex" type="checkbox" value="1"><label class="vCheckboxLabel" for="id_sex">Sex</label>
                </div>
        </div>

        <div class="form-row field-score_big">
            <div>
                        <label class="required" for="id_score_big">Score big:</label>
                <input id="id_score_big" name="score_big" step="any" type="number">
                </div>
        </div>

        <div class="form-row field-score_small">
                <div>
                        <label class="required" for="id_score_small">Score small:</label>
                            <input id="id_score_small" name="score_small" step="any" type="number">
                </div>
        </div>

        <div class="form-row field-score_add">
                <div>
                    <label class="required" for="id_score_add">Score add:</label>
                            <input id="id_score_add" name="score_add" step="any" type="number">
                </div>
        </div>

        <div class="form-row field-district">
                <div>
                        <label class="required" for="id_district">District:</label>
                            <input class="vTextField" id="id_district" maxlength="200" name="district" type="text">
                </div>
        </div>

        <div class="form-row field-school">
                <div>
                        <label class="required" for="id_school">School:</label>
                    <input class="vTextField" id="id_school" maxlength="200" name="school" type="text">
                </div>

        </div>


        <input type="hidden" name="type" value="1">
        <input type="submit" value="Vote" />


</fieldset>

<table>
    <tr>
    <td height="30" colspan="2" align="left" valign="middle">第一志愿<font style="color:#CB0100;">院校</font>：
	  <select name="signprovince1" id="signprovince1">
          <option value="0">省份</option>
      </select>
	  <select name="signcollage1" id="signcollage1">
          <option value="">请选择院校</option>
      </select>

        <select name="school1plan1" id="school1plan1">
          <option value="">请选择专业</option>
      </select>
        <select name="school1plan2" id="school1plan2">
          <option value="">请选择专业</option>
      </select>
        <select name="school1plan3" id="school1plan3">
          <option value="">请选择专业</option>
      </select>
        <select name="school1plan4" id="school1plan4">
          <option value="">请选择专业</option>
      </select>
        <select name="school1plan5" id="school1plan5">
          <option value="">请选择专业</option>
      </select>
        <select name="school1plan6" id="school1plan6">
          <option value="">请选择专业</option>
      </select>
    </td>
  </tr>
</table>


</form>
</body>
</html>