<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript">

  function init(){
      _table=document.getElementById ("table");
      _table.border="1px";
      _table.width="800px";
      for(var i=1;i<10;i++){
          var row=document.createElement ("tr");
          row.id=i;
          for(var j=1;j<6;j++){
              var cell=document.createElement ("td");
              cell.id =i+"/"+j;
              cell.appendChild(document.createTextNode ("第"+cell.id+"列"));
              row.appendChild (cell);
          }
          document.getElementById("newbody").appendChild (row);
      }
  }

  function addRow(){
      var length=document.getElementById("table").rows.length;
/*document.getElementById("newbody").insertRow(length);
　　document.getElementById(length+1).setAttribute("id",length+2);*/
      var tr=document.createElement("tr");
      tr.id=length+1;

      for(i=1;i<6;i++){
          var td=document.createElement("td");
          td.id=tr.id+"/"+i;
          td.appendChild(document.createTextNode("第"+td.id+"列"));
          tr.appendChild(td);
      }
      document.getElementById("newbody").appendChild (tr);
  }

  function removeRow(){
/* var row=document.getElementById("2");
　　var index=row.rowIndex;
　　alert(index);*/
      document.getElementById("newbody").deleteRow(document.getElementById(document.getElementById("table").rows.length).rowIndex);
  }
</script>
</head>

<body onLoad="init();">

<table id="table" align="center">
<tbody id="newbody"></tbody>

</table>
<div>
<table width="800px" border="1px" align="center">
　　<tr><td align="center"><input type="button" id="addRow" name="addRow" onClick="addRow();" value="添加行"/></td>
　　　　<td align="center"><input type="button" id="delRow" name="delRow" onClick="removeRow();" value="删除行"/></td>
　　</tr>
　　<tr><td align="center"><input type="button" id="delCell"　name="delCell" onClick="removeCell();" value="删除列"/></td>
　　　　<td align="center"><input type="button"　id="addCell" name="addCell" onClick=" addCell();" value="添加列"/></td>
　</tr>
　<tr><td align="center" colspan="2"><input type="button" id="addRows"　name="addRows" onClick="addRow_withInsert();" value="添加行"/></td></tr>
</table>
</div>
<div>
<table width="800px" border="1px" align="center">
　　　<tr><td>从第<input type="text" id="beginRow" name="beginRow" value=""/> 行到　　　<input type="text" name="endRow" id="endRow" value=""/> 行</td><td rowspan="2" id="test"><input type="button" name="hebing" id="hebing" value="合并" onClick="rebulid();"/> </td></tr>
　　<tr><td>从第<input type="text" name="beginCol" id="beginCol" value=""/> 列到<input type="text" name="endCol" id="endCol" value=""/> 列</td></tr>
</table>
</div>
<form action="{% url 'add:model' %}" method="post">
{% csrf_token %}
    <fieldset class="module aligned ">
        <div class="form-row field-student_id">
            <div>
                <label class="required" for="id_student_id">Student id:</label>
                <input class="vIntegerField" id="id_student_id" name="student_id" type="text">
                </div>
        </div>
        <div class="form-row field-name">
                <div>
                        <label class="required" for="id_name">Name:</label>
                            <input class="vTextField" id="id_name" maxlength="200" name="name" type="text">
                </div>
        </div>

        <div class="form-row field-sex">
                <div class="checkbox-row">
                        <input checked="checked" id="id_sex" name="sex" type="checkbox" value="1"><label class="vCheckboxLabel" for="id_sex">Sex</label>
                </div>
        </div>

        <div class="form-row field-score_big">
            <div>
                        <label class="required" for="id_score_big">Score big:</label>
                <input id="id_score_big" name="score_big" step="any" type="number">
                </div>
        </div>

        <div class="form-row field-score_small">
                <div>
                        <label class="required" for="id_score_small">Score small:</label>
                            <input id="id_score_small" name="score_small" step="any" type="number">
                </div>
        </div>

        <div class="form-row field-score_add">
                <div>
                    <label class="required" for="id_score_add">Score add:</label>
                            <input id="id_score_add" name="score_add" step="any" type="number">
                </div>
        </div>

        <div class="form-row field-district">
                <div>
                        <label class="required" for="id_district">District:</label>
                            <input class="vTextField" id="id_district" maxlength="200" name="district" type="text">
                </div>
        </div>

        <div class="form-row field-school">
                <div>
                        <label class="required" for="id_school">School:</label>
                    <input class="vTextField" id="id_school" maxlength="200" name="school" type="text">
                </div>

        </div>

        <div class="form-row field-plan">
                <div>
                        <label class="required" for="id_district">Plan1:</label>
                            <input class="vTextField" id="id_district" maxlength="200" name="pppppp" type="text">
                </div>
        </div>

        <input type="hidden" name="type" value="1">
        <input type="submit" value="Vote" />


</fieldset>


    <table id="table" align="center"  width="100%">
        <tbody id="newbody">
        <tr>
            <td width="10%"><label>第1志愿</label></td>
            <td width="5%"> </td>
            <td>学校</td>
            <td width="10%"><input type="text" id="school1" name="school1"></td>
            <td> </td>
            <td>专业</td>
            <td width="10%"><input type="text" id="s1d1" name="s1d1" ></td>
            <td width="10%"><input type="text" id="s1d2" name="s1d2"></td>
            <td width="10%"><input type="text" id="s1d3" name="s1d3"></td>
            <td width="10%"><input type="text" id="s1d4" name="s1d4"></td>
            <td width="10%"><input type="text" id="s1d5" name="s1d5"></td>
            <td width="10%"><input type="text" id="s1d6" name="s1d6"></td>
            <td align="center"><input type="button" id="addRow" name="addRow" onClick="addRow();" value="新增"/></td>
        </tr>


        </tbody>

        </table>

</form>
</body>
</html>